<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1><img src="/assets/secure-icon.png" alt="icon" width="20%" /></h1>
            <p>Login to an existing account or register</p>
            <a href="/auth/login" class="btn btn-primary btn-block">Login</a>
            <a href="/auth/register" class="btn btn-secondary btn-block mb-2">Register</a>
        </div>
    </div>
</div>